/* reset css eric meyer */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'calibre';
  background-color: #091c27;
  color: white;
}
<<<<<<< HEAD
body.white {
  background-color: #EEEEEE;
  color: black ;
  font-family: 'calibre';
}

=======

/*for using custom font  */
>>>>>>> dbb204dcc15f599cacf3ae83ef2465e44a8f81db
@font-face {
  font-family: 'SF Mono';
  src: url('/font/SFMonoBold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/font/SFMonoMedium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/font/SFMonoLight.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/font/SFMonoRegular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'calibre';
  src: url('/font/CalibreRegular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'calibre';
  src: url('/font/CalibreMedium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'calibre';
  src: url('/font/CalibreSemibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

<<<<<<< HEAD
span.line {
  width: 300px;
  height: 1px;
  display: block;
  background-color: #233554;
}

=======
/* global css */
>>>>>>> dbb204dcc15f599cacf3ae83ef2465e44a8f81db
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-baseline {
  align-items: baseline;
}

.align-start {
  align-items: flex-start;
}

.flex-center {
  justify-content: center;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

a {
  color: #ccd6f6;
  text-decoration: none;
}

a:hover {
  color: #64ffda;
  transition: 450ms;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pt-100 {
  padding-top: 100px;
}
h3 {
  color: #ccd6f6;
}
.blue {
  color: #64ffda;
}
.white {
  color: #fff;
}
.heavy-white {
  color: #ccd6f6;
}
.light-grey {
  color: #a8b2d1 !important;
}
.grey {
  color: #8892b0;
}
.button {
  color: #64ffda;
  border: 1px solid #64ffda;
  background-color: inherit;
  padding: 20px 28px;
  border-radius: 5px;
  font-size: 13px;
}
/* home section */
#home .button {
  font-size: 14px;
}
#home p.grey {
  margin-bottom: 72px;
}
.button:hover {
  background-color: rgba(100, 255, 218, 0.1);
  transition: 400ms;
}
button,
.button,
.fa-times-circle {
  cursor: pointer;
  font-family: 'SF Mono';
}
a.link {
  display: inline-block;
}
a.link::after {
  content: '';
  display: block;
  width: 0px;
  height: 1.5px;
  position: relative;
  bottom: 0.25em;
  background-color: #64ffda;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.5;
}
a.link:hover::after {
  width: 100%;
}
nav ul li {
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
.card {
  background-color: #0e2c3e;
  padding: 32px 28px;
  border-radius: 6px;
  box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.card:hover h6 {
  color: #64ffda;
  transition: 400ms;
}
.card:nth-child(2n) {
  margin: 0 16px;
}
.card h6 {
  font-size: 22px;
  margin-top: 26px;
  line-height: 110%;
}
.card a {
  height: 20px;
}

.submit {
  margin-bottom: 30px;
}

svg:hover path {
  stroke: #64ffda;
  transition: 300ms;
}

.card p {
  font-size: 17px;
  color: #8892b0;
  margin: 12px 0 44px 0;
}
.card .language {
  font-size: 12px;
  margin: 0 22px 0 0;
}
.card .language:last-child {
  margin-right: 0;
}
.backoffice .column {
  padding: 40px 80px 60px 52px;
}
.backoffice ul li {
  margin-bottom: 12px;
}
.backoffice ul li:last-child {
  margin-bottom: 0px
}
.fa-folder {
  font-size: 35px;
}
.small-container {
  width: 900px;
  margin: 0 auto 100px auto;
}
.thin-container {
  width: 700px;
  margin: 0 auto 100px auto;
}
.extra-small-container {
  width: 600px;
  margin: 0 auto;
}
span.line {
  width: 300px;
  height: 1px;
  display: block;
  background-color: #233554;
}
section {
  margin-bottom: 100px;
}
/* education section */
.education {
  margin-top: 100px;
}
section:last-child {
  margin-bottom: 200px;
  padding-top: 100px;
}
section:first-child {
  margin-bottom: 400px;
}
footer {
  margin-bottom: 40px;
}
header {
  margin: 40px auto 228px auto;
  width: 1770px;
}
body.white header {
  background: linear-gradient(180deg, #0E2431 11.98%, #0D3A54 100%);
  margin: inherit;
  width: inherit;
  height: 100vh;
  color: white;
}
body.white header .column {
  height: 100vh;
  align-items: flex-start;
}
h2 {
  font-size: 80px;
  margin: 20px 0;
  font-weight: 600;
}
#home p.grey {
  font-size: 20px;
  width: 588px;
  line-height: 26px;
}
#home button {
  margin-top: 52px;
}
.fixed-element {
  position: fixed;
  left: auto;
  z-index: 60;
}
.mailto {
  bottom: 0px;
  right: 40px;
  left: auto;
}
.social-network {
  right: auto;
  left: 40px;
  bottom: 0px;
}
.column {
  flex-direction: column;
}
.white > .d-flex {
  justify-content: start;
}
.column .line {
  width: 1px;
  height: 90px;
  margin-top: 20px;
}
.mailto a {
  writing-mode: vertical-rl;
  padding: 10px;
}
.fixed-element .fab {
  font-size: 20px;
}
.fixed-element .fa-github {
  margin-bottom: 0;
}
.fixed-element .icon:hover,
a.mailto:hover {
  transform: translateY(-5px);
  transition: 300ms;
}
.fixed-element .icon {
  padding: 10px;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  margin-right: 20px;
}
h3 span {
  font-size: 20px;
}
#experience .title {
  margin-bottom: 20px;
}
#experience button,
#about button {
  background-color: inherit;
  border: none;
  border-left: 2px solid #233554;
  color: #8892b0;
  width: 100%;
  display: flex;
  padding: 13px 41px;
  font-weight: 500;
  transition: 500ms;
}
#experience button:hover,
#about button:hover {
  /* border-left: 1px solid #64ffda; */
  background-color: #112240;
  color: #64ffda;
}
#experience button.active-experience,
#about button.active-education {
  border-left: 1px solid #64ffda;
  color: #64ffda;
}
.active-tab {
  display: block !important;
}
.active {
  display: flex !important;
}
.profil-picture {
  margin: 20px 39px 0 109px;
}
#about .align-start {
  margin-top: 19px;
}
.description p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 19px;
  color: #8892b0;
}
.description .skill p {
  margin-bottom: 0;
  line-height: inherit;
  height: 12px;
  margin-left: 8px;
  font-size: 16px;
}
.description .skill .d-flex {
  margin-bottom: 19px;
}
.description .skill .column:first-child {
  margin-right: 80px;
}
.description p:nth-child(3) {
  margin: 12px 0 28px 0;
}
.sf {
  font-family: 'SF Mono';
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
#home p:first-child {
  font-size: 16px;
}
.job,
.compagny {
  margin-top: 24px;
  padding-left: 12px;
  display: none;
}
.compagny .align-start {
  margin-bottom: 12px;
}
.job h4,
.compagny h4 {
  font-size: 22px;
}
.job h5,
.compagny h5 {
  font-size: 13px;
  line-height: 1.3;
  font-family: 'SF Mono';
  margin-bottom: 24px;
}
.job p,
.compagny p {
  font-size: 18px;
  padding-top: 2px;
  padding-left: 12px;
  color: #8892b0;
  line-height: 130%;
}
.job p:last-child,
.compagny p:last-child {
  margin-bottom: 0;
}
#contact h3 {
  font-size: 16px;
}
#contact h3 span {
  font-size: 14px;
}
#contact h4 {
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
#contact button {
  margin-top: 50px;
}
#contact p {
  font-size: 20px;
  line-height: 26px;
}
.modal {
  display: none !important;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccd6f6;
  z-index: 60;
}
.content {
  background-color: #0e2431;
  padding: 24px 30px 46px 30px;
  width: 750px;
}
.modal input[type='text'],
.modal input[type='email'],
textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
}
.flex-baseline i {
  margin-right: 8px;
}
.content input {
  margin-bottom: 28px;
}
textarea {
  margin-bottom: 72px;
}
.end {
  justify-content: flex-end;
}
.fa-times-circle,
.fa-caret-right {
  font-size: 24px;
}
form {
  margin-top: 20px;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -moz-box-align: center;
  align-items: center;
  margin-top: 100px;
}
.grid:first-child {
  margin-top: 40px;
}
.right .description-project {
  grid-column: 7 / -1;
  text-align: right;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 10;
}
.right .img-project {
  grid-column: 1 / 8;
  grid-area: 1 / 1 / -1 / 7;
  z-index: 1;
}
.left .description-project {
  grid-column: 7 / -1;
  text-align: left;
  grid-area: 1 / 1 / -1 / 7;

  z-index: 10;
}
.background-blue {
  width: 580px;
  height: 360px;
  display: block;
  position: relative;
}
.background-blue::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.35;
}
.background-blue:hover::before {
  background: transparent none repeat scroll 0% 0%;
  filter: none;
}
.background-blue {
  width: 580px;
  height: 360px;
  display: block;
  position: relative;
}
.background-blue::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.35;
}
.background-blue:hover::before {
  background: transparent none repeat scroll 0% 0%;
  filter: none;
}

.profil-picture > div::after {
  border: 3px solid #64ffda;
  width: 300px;
  height: 300px;
  content: '';
  position: absolute;
  display: block;
  left: 8%;
  top: 8%;
  z-index: -5;
  border-radius: 11px;
  transition: 300ms;
}
.profil-picture > div {
  height: 300px;
}
.profil-picture > div:hover::after {
  left: 1%;
  top: 1%;
}
.profil-picture > div {
  position: relative;
}
.left .img-project {
  grid-column: 1 / 8;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 1;
}
.description-project h4 {
  font-size: 13px;
}
.description-project h5 {
  font-size: 28px;
  margin: 10px 0 20px 0;
  font-weight: 600;
}
.description-project .text-description {
  background-color: #0e2c3e;
  padding: 25px;
  font-size: 18px;
  line-height: 23.4px;
  border-radius: 6px;
  box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}
.description-project .flex-end,
.description-project .flex-start {
  margin: 25px 0 10px 0;
}
.description-project .flex-end p {
  margin-left: 20px;
}
.description-project .flex-start p {
  margin-right: 20px;
}
.description-project .flex-end .language,
.description-project .flex-start .language {
  font-size: 13px;
}
.left .description-project .flex-start a {
  height: 19px;
}
.left .description-project .flex-start a:first-child {
  margin-right: 12px;
}
.left .description-project .fa-github {
  font-size: 20px;
}
.right .description-project .flex-end i {
  margin-left: 12px;
}
.archive {
  padding-top: 100px;
}
.archive .link {
  margin: 10px 0 50px 0;
  line-height: 31px;
}
h1 {
  font-weight: 300;
}
h1 span {
  font-weight: bold;
}
.display {
  display: flex !important;
}
.glider-next,
.glider-prev {
  display: none !important;
}
<<<<<<< HEAD
.col {
  width: 25%;
  margin: 0 !important;
  text-align: center;
}
body.white > .d-flex > div {
  width: 100%;
  margin: 0 48px;
}
.header {
  background: linear-gradient(180deg, #0E2431 0%, #0D3A54 100%);
  color: white;
}
.header,.row {
  padding: 26px 30px;
}
.row {
  border-bottom: 1px solid #E5E7EB;
}
.body {
  background-color: white;
}
.dashboard-side {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.description-path {
  margin: 100px 0 48px 0;
  width: 12%;
}
=======

/* start responsive */
>>>>>>> dbb204dcc15f599cacf3ae83ef2465e44a8f81db
@media screen and (max-width: 1790px) {
  header {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1160px) {
  .fixed-element {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .container {
    width: calc(100% - 30px);
  }
  .left .img-project,
  .right .img-project {
    grid-column: 1 / -1;
    height: 100%;
    opacity: 0.25;
  }
  .left .description-project,
  .right .description-project {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1;
    padding: 30px 30px;
    z-index: 5;
  }
  .right .sf {
    margin: 0 20px 0 0 !important;
  }
  .right .flex-end,
  .left .flex-start {
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 45px;
  }
  .right .description-project {
    text-align: left;
  }
  .background-blue {
    width: 100%;
    height: 100%;
  }
  .background-blue img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .background-blue::before {
    background-color: #03c2fd;
  }
  .description-project .text-description {
    background-color: inherit;
    box-shadow: inherit;
    padding: 0;
    text-align: left;
  }
}

@media screen and (max-width: 930px) {
  .small-container {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  nav {
    display: block;
  }
  button.hamburger {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
  button.hamburger {
    display: block;
  }
  .display-nav {
    display: block;
  }
  .display-nav .d-flex {
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: black;
    justify-content: center;
    z-index: 15;
  }
  .display-nav .d-flex li {
    margin: 0 0 48px 0;
  }
  .display-nav .d-flex li:last-child {
    margin-top: 20px;
  }
  .is-active {
    position: fixed;
    right: 20px;
    z-index: 60;
  }
}

@media screen and (max-width: 780px) {
  .content {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 730px) {
  .thin-container {
    width: calc(100% - 30px);
  }
  .bloc {
    flex-direction: column;
    align-items: center;
  }
  .bloc .column {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bloc .column .business,
  .bloc .column .active-experience {
    border: 1px solid #64ffda !important;
    margin-right: 15px;
  }
  .bloc .column .business {
    width: inherit !important;
  }
  .bloc .column .business:last-child {
    margin-right: inherit;
  }
  .job,
  .compagny {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  #about .align-start {
    flex-direction: column;
  }
  .profil-picture {
    margin: 20px auto 109px auto;
  }
  .education .align-start > .d-flex {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .education .align-start .d-flex .education-choice {
    border: 2px solid #233554 !important;
  }
  .education .align-start .d-flex .active-education {
    border: 2px solid #64ffda !important;
  }
}
@media screen and (max-width: 730px) {
  .thin-container {
    width: 100%;
  }
  .bloc {
    flex-direction: column;
    align-items: center;
  }
  .bloc .column {
    flex-direction: row;
    justify-content: space-between;
  }
  .job,
  .compagny {
    padding-left: 0;
  }
}
@media screen and (max-width: 635px) {
  .glider-track {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    width: initial !important;
    justify-content: space-between;
    row-gap: 30px;
  }
  .glider-dots {
    display: none !important;
  }
  .card:nth-child(2n) {
    margin: 0;
  }
  .glider-slide {
    width: 284px !important;
  }
}

@media screen and (max-width: 620px) {
  #home p.grey {
    width: inherit;
  }
}

@media screen and (max-width: 610px) {
  .bloc .column {
    height: 110px;
    align-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .extra-small-container {
    width: calc(100% - 30px);
  }
  .card {
    width: 100% !important;
  }
}

@media screen and (max-width: 497px) {
  .bloc .column .business,
  .bloc .column .active-experience {
    margin-right: 0px !important;
  }
}
