html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'calibre';
	background-color: #091c27;
	color: white;
}
@font-face {
	font-family: 'SF Mono';
	src: url('/font/SFMonoBold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SF Mono';
	src: url('/font/SFMonoMedium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SF Mono';
	src: url('/font/SFMonoLight.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SF Mono';
	src: url('/font/SFMonoRegular.otf') format('truetype');
}
span.line {
	width: 300px;
	height: 1px;
	display: block;
	background-color: #233554;
}
.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.space-around {
	justify-content: space-around;
}
.flex-end {
	justify-content: flex-end;
}
.flex-start {
	justify-content: flex-start;
}
.flex-baseline {
	align-items: baseline;
}
.align-start {
	align-items: flex-start;
}
.flex-center {
	justify-content: center;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
a {
	color: #ccd6f6;
	text-decoration: none;
}
a:hover {
	color: #64ffda;
	transition: 450ms;
}
h3 {
	color: #ccd6f6;
}
.blue {
	color: #64ffda;
}
.white {
	color: #fff;
}
.heavy-white {
	color: #ccd6f6;
}
.light-grey {
	color: #a8b2d1;
}
.grey {
	color: #8892b0;
}
.button {
	color: #64ffda;
	border: 1px solid #64ffda;
	background-color: inherit;
	padding: 20px 28px;
	border-radius: 5px;
	font-size: 13px;
}
#home .button {
	font-size: 14px;
}
.button:hover {
	background-color: rgba(100, 255, 218, 0.1);
	transition: 400ms;
}
button,
.button,
.fa-times-circle {
	cursor: pointer;
	font-family: 'SF Mono';
}
a.link {
	display: inline-block;
}
a.link::after {
	content: '';
	display: block;
	width: 0px;
	height: 1px;
	position: relative;
	bottom: 0.37em;
	background-color: #545c5a;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	opacity: 0.5;
}
a.link:hover::after {
	width: 100%;
}
nav ul li {
	margin-right: 20px;
}
nav ul li:last-child {
	margin-right: 0;
}
.card {
	background-color: #0e2c3e;
	padding: 32px 28px;
}
.card:nth-child(2n) {
	margin: 0 16px;
}
.card h6 {
	font-size: 22px;
	margin-top: 26px;
	line-height: 110%;
}
.card p {
	font-size: 17px;
	color: #8892b0;
	margin: 12px 0 44px 0;
}
.card .language {
	font-size: 12px;
	margin: 0 22px 0 0;
}
.card .language:last-child {
	margin-right: 0;
}
.fa-folder {
	font-size: 35px;
}
.small-container {
	width: 900px;
	margin: 0 auto 100px auto;
}
.thin-container {
	width: 700px;
	margin: 0 auto 100px auto;
}
.extra-small-container {
	width: 600px;
	margin: 0 auto;
}
section {
	margin-bottom: 100px;
}
.education {
	margin-top: 100px;
}
section:last-child {
	margin-bottom: 125px;
}
section:first-child {
	margin-bottom: 400px;
}
footer {
	margin-bottom: 40px;
}
header {
	margin: 40px auto 228px auto;
	width: 1770px;
}
h2 {
	font-size: 80px;
	margin: 20px 0;
	font-weight: 600;
}
#home p.grey {
	font-size: 20px;
	width: 588px;
	line-height: 26px;
}
#home button {
	margin-top: 52px;
}
.fixed-element {
	position: fixed;
	left: auto;
}
.mailto {
	bottom: 0px;
	right: 40px;
	left: auto;
}
.social-network {
	right: auto;
	left: 40px;
	bottom: 0px;
}
.column {
	flex-direction: column;
}
.column .line {
	width: 1px;
	height: 90px;
	margin-top: 30px;
}
.mailto a {
	writing-mode: vertical-rl;
}
.fixed-element .fab {
	font-size: 20px;
	margin-bottom: 20px;
}
.fixed-element .fa-github {
	margin-bottom: 0;
}

h3 {
	font-size: 32px;
	font-weight: 600;
	margin-right: 20px;
}
h3 span {
	font-size: 20px;
}
#experience .title {
	margin-bottom: 20px;
}
#experience button,
#about button {
	background-color: inherit;
	border: none;
	border-left: 2px solid #233554;
	color: #8892b0;
	width: 100%;
	display: flex;
	padding: 13px 41px;
	font-weight: 500;
	transition: 500ms;
}
#experience button:hover,
#about button:hover {
	/* border-left: 1px solid #64ffda; */
	background-color: #112240;
	color: #64ffda;
}
#experience button.active-experience,
#about button.active-education {
	border-left: 1px solid #64ffda;
	color: #64ffda;
}
.active {
	display: block !important;
}
.profil-picture {
	margin: 20px 0 0 109px;
}
.profil-picture img::after {
	width: 30px;
	height: 30px;
	background-color: #fff;
	content: '';
}
#about .align-start {
	margin-top: 19px;
}
.description p {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 19px;
	color: #8892b0;
}
.description .skill p {
	margin-bottom: 0;
	line-height: inherit;
	height: 12px;
	margin-left: 8px;
	font-size: 16px;
}
.description .skill .d-flex {
	margin-bottom: 19px;
}
.description .skill .column:first-child {
	margin-right: 80px;
}
.description p:nth-child(3) {
	margin: 12px 0 28px 0;
}
.sf {
	font-family: 'SF Mono';
}
.bold {
	font-weight: 700;
}
.medium {
	font-weight: 500;
}
.regular {
	font-weight: 400;
}
.light {
	font-weight: 300;
}
#home p:first-child {
	font-size: 16px;
}
.job,
.compagny {
	margin-top: 24px;
	padding-left: 12px;
	display: none;
}
.job h4,
.compagny h4 {
	font-size: 22px;
}
.job h5,
.compagny h5 {
	font-size: 13px;
	line-height: 1.3;
	font-family: 'SF Mono';
	margin-bottom: 24px;
}
.job p,
.compagny p {
	font-size: 18px;
	padding-top: 6px;
	padding-left: 12px;
	color: #8892b0;
	margin-bottom: 12px;
}
.job p:last-child,
.compagny p:last-child {
	margin-bottom: 0;
	padding-top: 0;
}
#contact h3 {
	font-size: 16px;
}
#contact h3 span {
	font-size: 14px;
}
#contact h4 {
	font-size: 40px;
	font-weight: 600;
	margin: 20px 0 10px 0;
}
#contact button {
	margin-top: 50px;
}
#contact p {
	font-size: 20px;
	line-height: 26px;
}
.modal {
	display: none !important;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ccd6f6;
}
.content {
	background-color: #0e2431;
	padding: 24px 30px 46px 30px;
	width: 750px;
}
.modal input[type='text'],
.modal input[type='email'],
textarea {
	width: 100%;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid #fff;
}
.flex-baseline i {
	margin-right: 8px;
}
.content input {
	margin-bottom: 28px;
}
textarea {
	margin-bottom: 72px;
}
.end {
	justify-content: flex-end;
}
.fa-times-circle,
.fa-caret-right {
	font-size: 24px;
}
.grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(12, 1fr);
	-moz-box-align: center;
	align-items: center;
	margin-top: 100px;
}
.grid:first-child {
	margin-top: 40px;
}
.right .description-project {
	grid-column: 7 / -1;
	text-align: right;
	grid-area: 1 / 6 / -1 / -1;
	z-index: 10;
}
.right .img-project {
	grid-column: 1 / 8;
	grid-area: 1 / 1 / -1 / 7;
	z-index: 1;
}
.left .description-project {
	grid-column: 7 / -1;
	text-align: left;
	grid-area: 1 / 1 / -1 / 7;

	z-index: 10;
}
.left .img-project {
	grid-column: 1 / 8;
	grid-area: 1 / 6 / -1 / -1;
	z-index: 1;
}
.description-project h4 {
	font-size: 13px;
}
.description-project h5 {
	font-size: 28px;
	margin: 10px 0 20px 0;
	font-weight: 600;
}
.description-project .text-description {
	background-color: #0e2c3e;
	padding: 25px;
	font-size: 18px;
	line-height: 23.4px;
}
.description-project .flex-end,
.description-project .flex-start {
	margin: 25px 0 10px 0;
}
.description-project .flex-end p {
	margin-left: 20px;
}
.description-project .flex-start p {
	margin-right: 20px;
}
.description-project .flex-end .language,
.description-project .flex-start .language {
	font-size: 13px;
}
.left .description-project .flex-end i {
	margin-right: 12px;
}
.right .description-project .flex-end i {
	margin-left: 12px;
}
.archive {
	padding-top: 100px;
}
.archive .link {
	margin: 10px 0 50px 0;
	line-height: 31px;
}
h1 {
	font-weight: 300;
}
h1 span {
	font-weight: bold;
}
.display {
	display: flex !important;
}
.glider-next,
.glider-prev {
	display: none !important;
}
